ANALYZE=false
NEXT_PUBLIC_SINGLE_PRODUCT_SHOP=false
NEXT_PUBLIC_BASE_ENDPOINT=https://api.solutionsapps.shop
NEXT_PUBLIC_API_BASE_ENDPOINT=https://api.solutionsapps.shop/api
NEXT_PUBLIC_PARTNER_PORTAL_URL=https://partner-portal.solutionsapps.shop
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=pk.eyJ1IjoiaHJhaGltaTE5ODMiLCJhIjoiY2xlMnd5YXpsMDA1NjN2c2FrcjRxN3hvbCJ9.V5l1naXv0cJy788pu4BS_A