@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ain-select-container .ain-select__control {
    @apply bg-white dark:bg-card border-neutral-300 dark:border-neutral-700 hover:border-primary dark:hover:border-neutral-500 rounded-md;
  }

  .ain-select-container .ain-select__control--is-focused {
    @apply border-neutral-500 hover:border-neutral-500 dark:border-primary dark:hover:border-primary shadow-none;
  }

  .ain-select-container .ain-select__menu {
    @apply bg-neutral-100 dark:bg-neutral-700 border-neutral-300 dark:border-neutral-600 z-[3];
  }

  .ain-select-container .ain-select__option {
    @apply text-neutral-600 dark:text-neutral-200 bg-neutral-100 hover:bg-neutral-200 dark:bg-neutral-700 dark:hover:bg-neutral-800;
  }

  .ain-select-container .ain-select__option--is-focused {
    @apply bg-neutral-200 dark:bg-neutral-800;
  }

  .ain-select-container .ain-select__indicator-separator {
    @apply dark:bg-neutral-700;
  }

  .ain-select-container .ain-select__indicator {
    @apply dark:text-neutral-600;
  }

  .ain-select-container .ain-select__placeholder {
    @apply text-neutral-300 dark:text-neutral-600;
  }

  .ain-select-container .ain-select__input-container,
  .ain-select-container .ain-select__single-value {
    @apply text-neutral-600 dark:text-neutral-200;
  }

  .ain-select-container .ain-select__multi-value {
    @apply dark:bg-neutral-600;
  }

  .ain-select-container .ain-select__multi-value__label {
    @apply dark:text-neutral-100;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 5% 3%;

    --card: 210 10% 96%;
    --card-foreground: 240 5% 3%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 5% 3%;

    --primary: 235 89% 35%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 6%;
    --secondary-foreground: 353 100% 96%;

    --muted: 0 3% 90%;
    --muted-foreground: 210 10% 96%;

    --accent: 240 3% 96%;
    --accent-foreground: 240 3% 11%;

    --destructive: 0 83% 63%;
    --destructive-foreground: 0 0% 98%;

    --success: 108 43% 50%;
    --success-foreground: 0 0% 100%;

    --text-white: 240 5% 3%;

    --border: 240 14% 90%;
    --input: 240 14% 90%;
    --ring: 210 28% 40%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 8%;
    --foreground: 0 0% 100%;
    --background-light: 0 0% 13%;

    --card: 240 3% 11%;
    --card-foreground: 0 0% 100%;

    --popover: 240 3% 11%;
    --popover-foreground: 0 0% 100%;

    --primary: 263 95% 76%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 6%;
    --secondary-foreground: 227 11% 21%;

    --muted: 0 0% 26%;
    --muted-foreground: 240 4% 47%;

    --accent: 240 3% 96%;
    --accent-foreground: 240 3% 11%;

    --destructive: 0 83% 63%;
    --destructive-foreground: 0 0% 98%;

    --success: 108 43% 50%;
    --success-foreground: 0 0% 100%;

    --text-white: 33 100% 85%;

    --border: 240 14% 90%;
    --input: 0 0% 26%;
    --ring: 210 28% 40%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    scroll-behavior: smooth;
    @apply bg-background text-foreground;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

.slide-in-bottom {
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out-bottom {
  animation: slide-out-top 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* CODEX STYLES */

.codex-editor.codex-editor--rtl .ce-toolbar__actions {
  left: -55px;
}

.cdx-search-field__icon {
  margin-right: 0;
  margin-left: 10px;
}

.ce-popover-item__icon {
  margin-right: 0;
  margin-left: 10px;
}

.tc-popover__item {
  padding: 2px 2px 2px 14px !important;
}

.tc-popover__item-icon {
  margin-right: 0;
  margin-left: 8px;
}

.ce-rawtool__textarea.cdx-input {
  direction: ltr !important;
}
